.quiz-card {
  border-radius:15px;
}

.quiz-card-footer {
  border-top: 1px solid #e8e8e8;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -24px;
  padding: 24px;
  background-color: #fafafa;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align:center;
}

.quiz-answers-first {
    margin-bottom:24px;
}

.quiz-answers-first > div:nth-child(1), .quiz-answers-second > div:nth-child(1) {
  padding-right:12px;
}

.quiz-answers-first > div:nth-child(2), .quiz-answers-second > div:nth-child(2) {
  padding-left:12px;
}

.the-question {
  color: #001529;
  font-weight:600;
  font-size:28px;
}

.quiz-card-footer button {
  min-height:54px;
  font-weight:600;
  font-size:18px;
  border-radius:15px;
}
.question-progress {
  margin-bottom:24px;
}

.question-body {
  min-height:250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-seconds {
  margin-bottom:10px;
  text-align:center;
  font-size:16px;
}

.question-incorrect {
  color:#f5222d;
}
.question-correct {
  color:#52c41a;
}
.correct-answer {
  color:#1890ff;
}

.breakdown-number {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  border: 5px solid #DADADA;
  text-align: center;
  padding-top: 0px;
  font-size: 24px;
  color: #666;
  margin-right: 24px;
  margin-top: 6px;
}

.breakdown {
  display:flex;
  flex-direction: row;
  font-size:16px;
  padding:24px;
  border-bottom: 1px solid #e8e8e8;
  margin-left:-24px;
  margin-right:-24px;
}

.breakdown-title {
  font-size:24px;
  font-weight:600;
}

.breakdown-main {
  flex:1;
}

.breakdown-points {
  width: 84px;
  font-size: 32px;
  text-align: right;
  font-weight: 600;
  line-height: 60px;
  color:#52c41a;
}

.breakdown-card {
  margin-top:-24px;
}

.start-quiz-card {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.20);
  border:none;
  border-radius:10px;
  text-align:center;
}

.start-quiz-card h1 {
  margin-bottom:5px;
}

.start-quiz-difficulty {
  margin-bottom:5px;
  font-size:16px;
}

.start-quiz-timelimit {
  margin-bottom:20px;
  font-size:16px;
}

.start-quiz-difficulty b {
  text-transform:capitalize;
}

.start-quiz-error {
  margin-bottom:15px;
  color:#f5222d;
}
.start-button {
  height:48px;
  margin-bottom:20px;
  font-size:16px;
  font-weight:600;
}

.quiz-status {
  text-align:center;
}
