.header-button-trigger {
  height:39px;
  line-height:44px;
  margin-top:10px;
}

.logout-button {
  color: #f5222d
}

.dropdown-menu a i {
  min-width: 12px;
  margin-right: 12px;
  font-size: 12px;
}
